body {
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif    
    
}

.hh1 {
    color: whitesmoke;
}

.centeri {
    color: #000001;
    font-style: oblique;
    text-align: center;

}
    
.hh2 {
    text-align: center;
}

.newcolor {
    color: #000001;
}

.italics {
    font-style: italic;
}